{% extends 'base.html' %}

{% block body %}

    <div class="container theme-showcase col-sm-6 col-sm-offset-3" role="main">

        <div class="row">
            <div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ pretty_date }}</h3>
                    </div>

                    <div class="panel-body">

                        <form method="POST" action="{{ url_for('view', date=entry_date) }}">
                            <div class="form-group">
                                <select class="form-control" name="food-select">
                                    {% for food in food_results %}
                                        <option value="{{ food.id }}">{{ food.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <button type="submit" class="btn btn-primary">Add</button>

                        </form>

                    </div>

                    <div class="page-header"></div>
                    <table class="table table-hover table-responsive">
                        <thead>
                        <tr>
                            <th class="col-* lead">Name</th>
                            <th class="col-lg-2 text-right lead">Protein</th>
                            <th class="col-lg-2 text-right lead">Carbs</th>
                            <th class="col-lg-2 text-right lead">Fat</th>
                            <th class="col-lg-2 text-right lead">Calories</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for food in log_results %}
                            <tr id="{{ food.id }}">
                                <td class="text-primary">{{ food.name }}</td>
                                <td class="text-right">{{ food.protein }}</td>
                                <td class="text-right">{{ food.carbohydrates }}</td>
                                <td class="text-right">{{ food.fat }}</td>
                                <td class="text-right">{{ food.calories }}</td>
                            </tr>
                        {% endfor %}

                        <tr>
                            <td class="bg-info lead">Total</td>
                            {% for value in totals.values() %}
                                <td class="text-right text-info lead">{{ value }}</td>
                            {% endfor %}
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

{% endblock %}